In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Pandas Bootcamp.csv')
display(df.head())

         date  num        num2   str    str2
0  2014-01-16  550  798.222753  girl    blue
1  2014-01-19  148   48.556695   boy  purple
2  2014-02-01  198   82.585010  girl     red
3  2014-02-21  820  436.065778  girl  purple
4  2014-02-27  890  875.371528   boy  yellow

In [4]:
df.num.plot(kind='hist')

In [5]:
df.num.mean()

524.64

In [16]:
print(type(df.index))

<class 'pandas.core.indexes.range.RangeIndex'>